# NOTE: Can not use " and ' in docker environment
# Docker env

# iTask
NODE_ENV=production
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME?schema=public

CORS_ORIGIN=*
ITASK_API_URL=http://127.0.0.1:4000
# JWT expires in time span, follow zeit/ms format (https://github.com/vercel/ms)
EXPIRES_IN=1d
SECRET_KEY=SECRET_KEY

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_ITASK_DB=
POSTGRES_ITASK_USER=
POSTGRES_ITASK_PASSWORD=
